
<h1>Add a State</h1>

<form method="post" action="/states">
	<label for="name">State Name:</label>
	<input type="text" id="name" name="Name"/><br /><br />

	<label for="abbreviation">State Abbreviation:</label>
	<input type="text" id="abbreviation" name="Abbreviation"/><br /><br />

	<button type="submit">Create State</button>
</form>